--
-- PostgreSQL database dump
--

\restrict DVeo1pbGM6C5yg3j0XzLqh5UsfgTxW0HXHRXDb6RnIrqOzwR3N2Z8MCiQ6jRoY5

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO diana;

--
-- Name: requirements; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public.requirements (
    id integer NOT NULL,
    sigma_req double precision,
    hard_req double precision,
    t_req double precision,
    sum_limit double precision,
    interaction_limit double precision
);


ALTER TABLE public.requirements OWNER TO diana;

--
-- Name: requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: diana
--

CREATE SEQUENCE public.requirements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requirements_id_seq OWNER TO diana;

--
-- Name: requirements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: diana
--

ALTER SEQUENCE public.requirements_id_seq OWNED BY public.requirements.id;


--
-- Name: results; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public.results (
    id integer NOT NULL,
    user_id integer NOT NULL,
    variant_id integer,
    cr double precision,
    ni double precision,
    mo double precision,
    mn double precision,
    cost double precision,
    sigma double precision,
    hardness double precision,
    t_melt double precision,
    created_at timestamp with time zone,
    limits jsonb,
    req jsonb
);


ALTER TABLE public.results OWNER TO diana;

--
-- Name: results_id_seq; Type: SEQUENCE; Schema: public; Owner: diana
--

CREATE SEQUENCE public.results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.results_id_seq OWNER TO diana;

--
-- Name: results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: diana
--

ALTER SEQUENCE public.results_id_seq OWNED BY public.results.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    name character varying(50)
);


ALTER TABLE public."user" OWNER TO diana;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: diana
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO diana;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: diana
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(80) NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO diana;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: diana
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO diana;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: diana
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: variants; Type: TABLE; Schema: public; Owner: diana
--

CREATE TABLE public.variants (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    cr_min double precision,
    cr_max double precision,
    ni_min double precision,
    ni_max double precision,
    mo_min double precision,
    mo_max double precision,
    mn_min double precision,
    mn_max double precision,
    cost_cr double precision,
    cost_ni double precision,
    cost_mo double precision,
    cost_mn double precision,
    sigma_req double precision,
    hard_req double precision,
    t_req double precision,
    sum_max double precision,
    sum_min double precision,
    crni_max double precision,
    coef json,
    user_id integer NOT NULL
);


ALTER TABLE public.variants OWNER TO diana;

--
-- Name: variants_id_seq; Type: SEQUENCE; Schema: public; Owner: diana
--

CREATE SEQUENCE public.variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.variants_id_seq OWNER TO diana;

--
-- Name: variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: diana
--

ALTER SEQUENCE public.variants_id_seq OWNED BY public.variants.id;


--
-- Name: requirements id; Type: DEFAULT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.requirements ALTER COLUMN id SET DEFAULT nextval('public.requirements_id_seq'::regclass);


--
-- Name: results id; Type: DEFAULT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.results ALTER COLUMN id SET DEFAULT nextval('public.results_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: variants id; Type: DEFAULT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.variants ALTER COLUMN id SET DEFAULT nextval('public.variants_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: diana
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: requirements; Type: TABLE DATA; Schema: public; Owner: diana
--

COPY public.requirements (id, sigma_req, hard_req, t_req, sum_limit, interaction_limit) FROM stdin;
1	1234	55	1500	6	2
34	1234	55	1500	6	2
35	1234	55	1500	6	2
\.


--
-- Data for Name: results; Type: TABLE DATA; Schema: public; Owner: diana
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: diana
--

COPY public."user" (id, name) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: diana
--

COPY public.users (id, username, email, password_hash) FROM stdin;
1	Diana	diana.fedotova2002@mail.ru	scrypt:32768:8:1$vARg3xfb2rbSMqCG$9577b630cfbd36a35de3e0a09669f7d39fe335d4b40a1cc42a5e0c457f1a172174272219b9ff5d841845b17a34eed9bb3a483e0e9aacb4ced06b05482d3d3c42
2	admin	admin@mail.ru	scrypt:32768:8:1$3TBSGhagEQ30ZTs9$5494a2f72faba8b6939e0201fbc8448b9ea443620c846cab1702c08a1f5608cf69ef9c98f5434628b7dd910aa2b487eddaa27b9435ddfb9aaa38c4fdca531add
\.


--
-- Data for Name: variants; Type: TABLE DATA; Schema: public; Owner: diana
--



--
-- Name: requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: diana
--

SELECT pg_catalog.setval('public.requirements_id_seq', 35, true);


--
-- Name: results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: diana
--

SELECT pg_catalog.setval('public.results_id_seq', 26, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: diana
--

SELECT pg_catalog.setval('public.user_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: diana
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: diana
--

SELECT pg_catalog.setval('public.variants_id_seq', 10, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: requirements requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (id);


--
-- Name: results results_pkey; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: variants variants_pkey; Type: CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT variants_pkey PRIMARY KEY (id);


--
-- Name: variants fk_variants_user; Type: FK CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT fk_variants_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: results results_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: results results_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: diana
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.variants(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;
GRANT ALL ON SCHEMA public TO diana;


--
-- PostgreSQL database dump complete
--

\unrestrict DVeo1pbGM6C5yg3j0XzLqh5UsfgTxW0HXHRXDb6RnIrqOzwR3N2Z8MCiQ6jRoY5

